*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑","苹方";
	font-style: normal;
	font-weight: normal;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}

.iconfont{
	font-family: iconfont;
}
@font-face {
  font-family: 'iconfont';  /* project id 974165 */
  src: url('//at.alicdn.com/t/font_974165_hnk3a0fs117.eot');
  src: url('//at.alicdn.com/t/font_974165_hnk3a0fs117.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_974165_hnk3a0fs117.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_974165_hnk3a0fs117.woff') format('woff'),
  url('//at.alicdn.com/t/font_974165_hnk3a0fs117.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_974165_hnk3a0fs117.svg#iconfont') format('svg');
}