.mean{
	width: 1226px;
	height: 100px;
	margin: 0px auto;
}
.MI{
	float: left;
	height:55px;
	width: 55px;
	margin-right: 187px;
	background: #ff6700;
	margin-top: 22.5px;
	}
.MI::before{
	content: url(../img/mi-logo.png);
	display: block;
	margin-top: 3px;
	text-align: center;
}
.mean-left{
	width: 688px;
	height: 100px;
	float: left;	
}
.mean-left-small{
	height: 100px;
	line-height: 100px;
	font-size:  16px;
	color: #333333;
	float: left;
	padding: 0 10px;
}
.mean-left-small:hover{
	color:#ff6700;
	cursor: pointer;
}









.search{
	float: right;
	height: 50px;
	width: 296px;
	margin-top: 25px;
	border: #e0e0e0 solid 1px;
	box-sizing: border-box;
	position: relative;
	font-size: 12px;
}
input{
	width: calc(294px - 51px);
	height: 48px;
	float: left;
	border: none;
	outline: none;
	box-sizing: border-box;
	padding-left: 15px;
	
}
.ts-text{
	height: 21px;
	position: absolute;
	box-sizing: border-box;
	left: 15px;
	top: 15px;
	margin-left: 15px;
}
.ts-text>li{
	height: 18px;
	float: left;
	background: #eee;
	margin-left: 10px;
	color: #757575;
}
.ts-text>li:hover{
	background: #ff6700;
	color: #FFFFFF;
}
.search .right{
	height: 48px;
	float: left;
	border-left:1px #e0e0e0 solid;
	font-size: 25px;
	text-align: center;
	width: 50px;
	line-height: 48px;
	color: #e0e0e0;
}
.search .right:hover{
	color: #FFFFFF;
	background: #ff6700;
}